* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body , select , input:placeholder-shown {
  font-family: Neucha , cursive;
}

.header {
  border: 1px solid;
  height: 6em;
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.header img {
  width: 83px;
  padding: 10px 10px 10px 15px;
  margin-left: 30px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.trybewarts-login #email , #password , #submit-button {
  font-size: 16px;
  height: 46px;
  border: 1px solid rgb(78, 44, 131);
  border-radius: 8px;
  margin: 6px;
  padding-left: 4px;
}

.trybewarts-login #submit-button {
  width: 150px;
  background-color: rgb(78, 44, 131);
  color: white;
}

#trybewarts-header-title {
  align-self: center;
  color: white;
  font-size: 3em;
}

#main {
  display: flex;
  background-color: rgb(228, 220, 220);
  min-width: 600px;
  padding-left: 80px;
  padding-bottom: 20px;
}

#evaluation-form {
  width: 675px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

#formdiv-01 {
  margin-top: 30px;
}

#formdiv-01 input {
  padding: 10px 2px;
  width: 330px;
}

#formdiv-02 {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

#formdiv-02 input , select {
  padding: 10px 2px;
}

#house , #input-email , #input-name , #input-lastname {
  border: 1px solid rgb(78, 44, 131);
  border-radius: 6px;
  background-color: white;
}

#formdiv-02 #input-email {
  width: 330px;
}

#formdiv-02 label {
  padding-left: 4px;
}

#formdiv-02 #house {
  width: 299px;
}

#families-contents {
  display: flex;
  margin-top: 30px;
  align-content: space-around;
}

#families-div {
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: space-evenly;
}

#which-content {
  margin-left: 80px;
}

#witchcontdiv-01 {
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: space-around;
}

.main-hrline {
  margin-top: 45px;
}

#label-rate {
  padding-right: 10px;
}

#radio-buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 5px;
}

#main .lower-form-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#submit-btn {
  padding: 3px 0 3px 0;
}

#trybewarts-forms-logo {
  height: 500px;
  position: absolute;
  right: 80px;
  bottom: 200px;
}

footer {
  padding-left: 80px;
  padding-top: 20px;
}
