*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.borderdiv {
  background-color: rgba(33, 57, 154, 0.5);
  border-radius: 10px;
  width: 70%;
  padding: 15px;
  margin-top: 100px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./Vidente.png);
  background-position: center;  
  background-size: 200px;
  background-repeat: no-repeat;
}

header {
  margin-top: 80px;
  text-align: center;  
}

#title {
  margin-bottom: 100px;
}

.infos {
  margin-top: 100px;
  text-align: center;
  color: whitesmoke;
}

.rgb-color {
  
}

.ball {
  background-color: grey;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.circles {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 300px;
}

#answer {
  margin-top: 10px;
  text-align: center;
}

.buttons {
  margin: 10px ;
  text-align: center;
  padding: 3%;
  font-size: larger;
}
.intbutton {
  padding: 1px;
}

#scoreboard {
  display: flex;
  width: 70px;
}